.search-input {
  border: 1px solid var(--color-separator);
  border-radius: 4px;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;

  &__icon {
    position: absolute;
    left: 0.75rem;
  }

  &__input {
    border-radius: 4px;
    border: none;
    padding: 0.75rem;
    width: 100%;
    padding-left: 2.5rem;

    &::placeholder {
      color: var(--color-title);
    }
  }
}
