.header {
  height: 60px;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__tabs {
    display: flex;
    gap: 1rem;
  }
}
