.select-wrapper {
  position: relative;

  &::before {
    content: '\f000';
    font-family: icons, sans-serif;
    color: #fff;
    display: inline-block;
    position: absolute;
    right: 0.75rem;
    top: calc(50% - 0.25rem);
    font-size: 0.5rem;
    pointer-events: none;
  }
}

select {
  appearance: none;
}
