* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header,
main,
footer {
  overflow: auto;
}
