@use './mixins' as mixins;

$weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;

.title {
  font-size: mixins.px-to-rems(22px);
  line-height: 120%;
  color: var(--color-title);
  font-weight: 400;
}

.subtitle {
  font-size: mixins.px-to-rems(14px);
  line-height: 120%;
  font-weight: 600;
  color: var(--color-title);
}

.text {
  font-size: mixins.px-to-rems(12px);
  line-height: 120%;
  color: var(--color-paragraph);
}

@each $w in $weight {
  .font-w-#{$w} {
    font-weight: $w;
  }
}
