@use '../../../../assets/styles/base/mixins' as mixins;

.footer {
  height: 60px;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    justify-content: end;
  }

  &__btn {
    background: var(--color-text-primary);
    color: var(--color-text-btn);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    font-weight: 700;
    font-size: mixins.px-to-rems(14px);
  }
}
