@use 'normalize.css/normalize.css';

// Base
@use './base/reset' as *;
@use './base/colors' as *;
@use './base/fonts' as *;
@use './base/texts' as *;
@use './base/form' as *;

main {
  background: var(--color-bg-primary);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}
