@font-face {
    font-family: "icons";
    src: url("fonts/icons.woff2") format("woff2"),
        url("fonts/icons.ttf") format("truetype"),
        url("fonts/icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-palette-values --palette0 {
    font-family: "icons";
    base-palette: 0
}
.icon {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "icons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.palette0 {
    font-palette: --palette0;
    color: currentColor;
}