@use '../../../../../assets/styles/base/mixins' as mixins;

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  height: 100%;
  cursor: pointer;

  &__text {
    font-size: mixins.px-to-rems(14px);
  }

  &:hover {
    background: var(--color-bg-primary);
  }

  &--active,
  &:active {
    background: var(--color-bg-hover);
    box-shadow: 0 0 1px var(--color-text-primary);
  }
}
