.category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  height: 100%;
  cursor: pointer;

  &:hover {
    background: var(--color-bg-hover);
  }

  &:active {
    background: var(--color-bg-primary);
    box-shadow: 0 0 1px var(--color-text-primary);
  }
}
