@use '../../../../assets/styles/base/mixins' as mixins;

.tab {
  border-radius: 4px;
  padding: 8px;
  color: var(--color-text);
  font-size: mixins.px-to-rems(12px);
  font-weight: 600;
  line-height: 120%;
  cursor: pointer;
  transition:
    0.3s background ease-in-out,
    0.3s color ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    color: var(--color-text);
    font-size: mixins.px-to-rems(14px);
    margin-right: 0.5rem;
  }

  &:hover,
  &:active,
  &--active {
    background: var(--color-bg-hover);
    color: var(--color-text-primary);
  }
}
