@use '../../../../assets/styles/base/mixins' as mixins;

@font-palette-values --normal {
  font-family: icons;
  base-palette: 0;
  override-colors: 2 #636970;
}

@font-palette-values --active {
  font-family: icons;
  base-palette: 0;
  override-colors:
    0 #f00,
    1 #11abec;
}

.tab {
  border-radius: 4px;
  padding: 8px;
  color: var(--color-text);
  font-size: mixins.px-to-rems(12px);
  font-weight: 600;
  line-height: 120%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: mixins.px-to-rems(14px);
    margin-right: 0.5rem;
    font-palette: --normal;
  }

  &:hover,
  &:active,
  &--active {
    background: var(--color-bg-hover);
    color: var(--color-text-primary);

    .icon {
      font-palette: --active;
    }
  }
}
