@use '../../../../assets/styles/base/mixins' as mixins;

:host {
  height: 60px;
  display: block;
}

.footer {
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: var(--white);

  &__container {
    display: flex;
    justify-content: end;
  }

  &__btn {
    cursor: pointer;
    background: var(--color-text-primary);
    color: var(--color-text-btn);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    font-weight: 700;
    font-size: mixins.px-to-rems(14px);
  }
}
