.visible-categories {
  margin: 2rem auto;

  &__container {
    background: var(--white);
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px var(--color-separator);
  }

  &__form {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;

    &__search {
      flex-grow: 1;
      border: 1px solid var(--color-separator);
      border-radius: 4px;
      padding: 0;
      display: flex;
      align-items: center;
      position: relative;

      &__icon {
        position: absolute;
        left: 0.75rem;
      }

      &__input {
        border-radius: 4px;
        border: none;
        padding: 0.75rem;
        width: 100%;
        padding-left: 2.5rem;

        &::placeholder {
          color: var(--color-title);
        }
      }
    }

    &__select {
      border: 1px solid var(--color-separator);
      border-radius: 4px;
      position: relative;
      background: none;
      padding: 0.75rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-separator);

    &-item {
      width: 50%;
      border-bottom: 1px solid var(--color-separator);

      &:nth-child(odd) {
        border-left: 1px solid var(--color-separator);
        border-right: 1px solid var(--color-separator);
      }

      &:nth-child(even) {
        border-right: 1px solid var(--color-separator);
      }
    }
  }
}
