@use '../../../../assets/styles/base/mixins' as mixins;

.visible-categories {
  margin: 2rem auto;

  &__container {
    background: var(--white);
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1.5rem;
    gap: 1rem;
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--color-separator);
    border-bottom: none;

    &__search {
      flex-grow: 1;
      border: 1px solid var(--color-separator);
      border-radius: 4px;
      padding: 0;
      display: flex;
      align-items: center;
      position: relative;
      height: 2.25rem;

      &-icon {
        position: absolute;
        font-size: mixins.px-to-rems(13px);
        left: 0.675rem;
      }

      &-input {
        border-radius: 4px;
        border: none;
        padding: 0 0.75rem;
        width: 100%;
        padding-left: 2.25rem;
        font-size: mixins.px-to-rems(13px);
        height: 100%;

        &::placeholder {
          color: var(--color-title);
        }
      }
    }

    &__select {
      border: 1px solid var(--color-separator);
      font-size: mixins.px-to-rems(13px);
      border-radius: 4px;
      position: relative;
      background: none;
      height: 2.25rem;
      line-height: 1rem;
      padding: 0 0.75rem;
      width: 100%;

      &-wrapper {
        min-width: 18rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid var(--color-separator);
    border-right: 1px solid var(--color-separator);

    &-item {
      width: 50%;
      border-bottom: 1px solid var(--color-separator);

      &:nth-child(odd) {
        border-right: 1px solid var(--color-separator);
      }
    }

    &--top-bordered {
      border-top: 1px solid var(--color-separator);
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }
}
